@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url(/assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    min-height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

footer {
    justify-self: flex-end;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.name {
    margin-top: 0;
    font-size: min(5em, 10vw);
}

figcaption {
    font-weight: 100;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:visited {
    color: royalblue;
}

a:hover {
    text-decoration: underline;
}

img,
video,
iframe {
    max-width: 100%;
}

figure {
    margin: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery figure {
    max-width: 20em;
}
