@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url(/assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    min-height: 100%;
    max-width: 70em;
    margin: auto;
}

footer {
    justify-self: flex-end;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.name {
    margin-top: 0;
    font-size: min(5em, 10vw);
}

figcaption {
    font-weight: 100;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:visited {
    color: royalblue;
}

a:hover {
    text-decoration: underline;
}

img,
video,
iframe {
    max-width: 100%;
}

.gallery {
    max-width: 30em;
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 225, 249);
    border-radius: 25px;
    padding: 25px;
}

.gallery figure {
    height: 40em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.gallery figure img,
.gallery figure video {
    margin: auto;
    align-self: center;
}

.gallery figure figcaption {
    margin-top: 1em;
}

.gallery .thumbs {
    margin-top: 1em;
}

.gallery .thumbs .thumb {
    object-fit: cover;
    height: 50px;
    border-style:double;
    border-color: royalblue;
    box-sizing: border-box;
    border-radius: 25px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project .project-details {
    max-width: 30em;
    padding: 2em;
    margin: auto;
}

.project > figure {
    max-width: 30em;
}
